.exercises-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    animation: fadeIn 1s;
}

.exercises-page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3.5rem 1.5rem;
}

.exercises-page .exercises-card {
    background-color: var(--color-background-2);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 90%;
    display: flex;
    flex-direction: column;
}

.exercises-page .exercises-card h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px;
    color: var(--color-text);
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
    flex: 1;
    min-height: 60px;
}

.exercises-page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.exercises-page .exercises-card p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.exercises-page .exercises-info {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    flex-grow: 1;
}

.exercises-page .exercises-difficulty {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--color-secondary);
    padding: 8px 24px;
    border-radius: 35px;
}

.exercises-difficulty.beginner {
    border-color: var(--color-accent);
}

.exercises-difficulty.intermediate {
    border-color: #ffb86c;
}

.exercises-difficulty.advanced {
    border-color: var(--color-accent-2);
}

.exercises-page .admin-actions {
    display: flex;
    justify-content: space-evenly;
}

.exercises-page .admin-actions-container {
    border-top: 1px solid var(--color-secondary);
    margin-top: 1rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.exercises-page .admin-actions-container>h3 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    font-family: sans-serif;
    margin: 0 0 8px;
    color: var(--color-text);
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
}

.exercises-page .admin-actions button {
    padding: 0.5rem 1rem;
    font-size: 15px;
    cursor: pointer;
    width: 48%;
    border-radius: 10px;
    background-color: transparent;
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}

.exercises-page .admin-actions .edit-button {
    border: 1px solid var(--color-accent-3);
    color: var(--color-accent-3);
}

.exercises-page .admin-actions .edit-button:hover {
    background-color: var(--color-accent-3);
    color: var(--color-background);
}

.exercises-page .admin-actions .delete-button {
    border: 1px solid var(--color-accent-2);
    color: var(--color-accent-2);
}

.exercises-page .admin-actions .delete-button:hover {
    background-color: var(--color-accent-2);
    color: var(--color-background);
}

.exercises-page .admin-actions button:last-child {
    margin-left: 1rem;
}
