.progress-bar-container {
    height: 20px;
    width: 100%;
    background: var(--color-background);
    border-radius: 50px;
    margin: 20px 0;
}

.progress-bar-fill {
    height: 100%;
    background: linear-gradient(to right, var(--color-secondary), var(--color-secondary-2));
    border-radius: inherit;
    transition: width 2s ease-out;
    box-shadow: 0 3px 3px -5px var(--color-secondary);
}
