.carousel-container {
    margin-top: 5rem;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    white-space: nowrap;
}

@media screen and (width < 800px) {
    .carousel {
        gap: 0.5rem;
    }
}
