.search-results-panel {
    width: 100%;
    margin-top: 70px;
    padding: 10px;
    background-color: var(--color-background-3);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    z-index: 50;
    transition: transform 0.6s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
}
