.badge-form {
    display: flex;
    background-color: var(--color-background-2);
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    padding: 1.5rem;
}

.badge-form label {
    font-weight: 600;
}

.badge-form input,
.badge-form textarea {
    padding: 0.5rem;
    border: 2px solid #44475a;
    border-radius: 4px;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.badge-form input:focus,
.badge-form textarea:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 2px rgba(98, 114, 164, 0.3);
}

.badge-form textarea {
    resize: vertical;
    min-height: 100px;
}

.badge-form button[type="submit"] {
    background-color: var(--color-background-2);
    color: var(--color-text);
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.badge-form button[type="submit"]:hover {
    background-color: #414863;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
