.exercise-form {
    display: flex;
    background-color: var(--color-background-2);
    flex-direction: column;
    gap: 1rem;
}

.exercise-form label {
    font-weight: 600;
}

.exercise-form input,
.exercise-form textarea,
.exercise-form select {
    padding: 0.5rem;
    border: 2px solid #44475a;
    border-radius: 4px;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.exercise-form input:focus,
.exercise-form textarea:focus,
.exercise-form select:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 2px rgba(98, 114, 164, 0.3);
}

.exercise-form textarea:not(.command-input) {
    resize: vertical;
    min-height: 100px;
}

.exercise-form button[type="submit"] {
    background-color: var(--color-background-2);
    color: var(--color-text);
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.exercise-form button[type="submit"]:hover {
    background-color: #414863;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error {
    color: var(--color-accent-2);
}

.solution-label {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem auto;
    gap: 0.5rem;
}

.solution-sublabel {
    margin-top: 0;
    text-align: center;
}

.command-output-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-top: 1px solid var(--color-background);
    padding-top: 1rem;
}

.add-command-button,
.remove-command-button {
    background-color: var(--color-background-2) !important;
    font: 1em sans-serif;
}

.add-command-button:hover {
    background-color: #414863 !important;
}

.command-output-section {
    margin-bottom: 1rem;
}

.command-output-container {
    margin-bottom: 0.5rem;
}

.remove-command-button {
    display: block;
    color: var(--color-accent-2) !important;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.remove-command-button:hover {
    color: #fff !important;
    background-color: var(--color-accent-2) !important;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-background);
    margin: 1rem 0;
}

.command-output-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.command-output-container label {
    flex: 0 0 120px;
    margin-right: 0.5rem;
}

.command-input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid #44475a;
    border-radius: 4px;
    outline: none;
    height: 30px;
    min-height: 30px;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: vertical;
}
