.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-logo {
    font-size: 1.5rem;
    cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: first-baseline;
    gap: 5rem;
}

.header-nav-item {
    position: relative;
    padding: 0.5rem 0rem;
    cursor: pointer;
}

.header-nav-item:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #50fa7b;
}

.header-buttons {
    display: flex;
    position: relative;
    gap: 1rem;
}

.button.button-signin {
    padding: 0;
    font-size: 1.2rem;
    background-color: transparent;
    color: #f8f8f2;
}

.button-signin:hover::after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 0px;
    width: 42%;
    height: 2px;
    background-color: #50fa7b;
}

.button-signup:hover::after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    right: 0;
    width: 48%;
    height: 2px;
    background-color: #50fa7b;
}

.button.button-signup {
    padding: 0;
    font-size: 1.2rem;
    background-color: transparent;
    color: #6272a4;
}

#user-fa-icon {
    color: #6272a4;
    transition: all 0.3s ease;
    top: 0;
}

#user-fa-icon:hover,
#user-fa-icon.bounce {
    animation: bounce 1.5s ease infinite;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
}

.profile-menu-button {
    font-size: 1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.profile-menu {
    position: relative;
}

.profile-menu-content {
    position: absolute;
    top: calc(95%);
    transform: translateX(-70%);
    width: 8rem;
    background-color: #475377;
    border-radius: 0.2rem;
}

.profile-menu-item {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

.profile-menu-item:hover {
    background-color: #6272a4;
}


@media screen and (width < 840px) {

    .header {
        flex-direction: column;
    }

    .header,
    .header-nav {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-7px);
    }
}
